/* ===================== 
   BASE GLOBAL
===================== */
:root{
  --bg-main: #9e79df;
  --bg-gradient: radial-gradient(circle at top, #1a0f2e, #170f17 60%);
  --card-glass: rgba(166, 95, 167, 0.1);
  --primary: #9d47b7;
  --text: #ffffff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background: var(--bg-gradient);
  color: var(--text);
}